<header class="bg-gray-900 p-4">
  <div class="container mx-auto flex justify-center items-center">
    <nav class="flex space-x-4">
      <a href="/players-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Jugadores</a>
      <a href="/assistance" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Asistencia</a>
      <a href="/trainings-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Entrenamientos</a>
      <a href="/games-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Partidos</a>
      <a href="/games-minutes" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Minutos</a>
    </nav>
  </div>
</header>
