<!-- <header class="bg-gray-900 px-4 flex w-full items-center justify-between">
  <img src="images/n1.png" class="h-24 w-24 transition-transform transform hover:scale-110">

  <div class="container mx-auto flex justify-center items-center">
    <nav class="flex space-x-4">
      <a href="/players-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Jugadores</a>
      <a href="/assistance" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Asistencia</a>
      <a href="/games-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Partidos</a>
      <a href="/games-minutes" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Minutos</a>
    </nav>
  </div>

  <button class="relative">
    <i class="fas fa-user text-white text-xl transition-transform transform hover:scale-110"></i>
  </button>
</header> -->

<header class="bg-gray-900 text-white w-full">
  <div class="flex items-center justify-between py-4 px-6">
    <div class="flex items-center">
      <img src="images/n1.png" class="h-24 w-24 transition-transform transform hover:scale-110">
    </div>
    <nav class="flex space-x-4">
      <a href="/players-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Jugadores</a>
      <a href="/assistance" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Asistencia</a>
      <a href="/games-list" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Partidos</a>
      <a href="/games-minutes" class="text-gray-300 hover:text-blue-300 text-lg hover:text-xl">Minutos</a>
    </nav>
    <div class="relative flex items-center space-x-4">
      <button class="relative h-24 w-24">
        <i class="fas fa-user text-white text-xl transition-transform transform hover:scale-110"></i>
      </button>
    </div>
  </div>
</header>
